{{ $highlighter := resources.Get "js/lib/prism.js" }}
{{ $codepen := resources.Get "js/lib/codepen.js" }}
{{ $tweet := resources.Get "js/lib/twitter.js" }}
{{ $caniuse := resources.Get "js/lib/caniuse.js" }}
{{ $opts := dict "noComments" true "minified" true }}
{{- $transpiled := resources.Get "js/custom.js" | babel $opts -}}
{{ $scripts := slice $highlighter $transpiled | resources.Concat "js/scripts.js" }}
<script src="{{ $scripts.RelPermalink }}"></script>
{{ if (and (eq .Type "blog") (isset .Params "hastweet")) }}<script async src="{{ $tweet.Permalink }}" charset="utf-8"></script>{{ end }}
{{ if (and (eq .Type "blog") (isset .Params "hascaniuse")) }}<script src="{{ $caniuse.Permalink }}"></script>{{ end }}
{{ if (and (eq .Type "blog") (isset .Params "hascodepen")) }}<script async src="{{ $codepen.Permalink }}"></script>{{ end }}
